@using Cyf.EntityFramework.Model;
@using PagedList.Mvc;
@using PagedList;
@model StaticPagedList<Employee>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Fourth"))
{
    <p>
        Find by Condition:
        @Html.TextBox("searchString", ViewBag.SearchString as string, new { @class = "form-control", @Style = "display:inline" })
        @Html.TextBox("url", ViewBag.Url as string, new { @class = "form-control", @Style = "display:inline" })
        @Html.Submit("查询")
    </p>
    <div id="partialajaxlist">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>@Html.ActionLink("职位", "Index", new { orderBy = ViewBag.OrderBy, searchString = ViewBag.SearchString, page = 1 })</th>
                <th>Url</th>
                <th>Action</th>
                <th>图片</th>
            </tr>
            @*前后混编，前后分离 MVVM vue *@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@item.Id*@
                        @Html.DisplayFor(modelItem => item.Id)@*//强类型 可以展示display*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a href="/Fourth/Details/@item.Id">Details</a>|
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        <a id="@item.Id" href="javascript:void(0);" onclick="ajaxDelete(this)">ajaxDelete</a>
                    </td>
                </tr>
            }
        </table>
        @Html.Br()
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @*@Html.PagedListPager(Model, pageIndex => Url.Action("Index",
        new { pageIndex, searchString = ViewBag.SearchString,lastOrderBy = ViewBag.OrderBy}))*@
        @Html.PagedListPager(Model, pageIndex => $"/Fourth/Index?pageIndex={pageIndex}&searchString={base.ViewBag.SearchString}&url={base.ViewBag.Url}")

    </div>
}